<head>
    <base href="/"> {{>head}}
</head>

<body>
    <div class="colorlib-loader"></div>
    <div id="page">
        {{>nav}} {{>menu}}
        <br></br>
        <div class="colorlib-shop">
            <div class="container">
                <form id="frmAddToCart" method="post" action="/cart/add1">
                    <input type="hidden" id="txtP" name="proId" />
                    <input type="hidden" id="txtC" name="catId" value="{{catId}}" />
                </form>
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        <div class="row row-pb-lg">
                            {{#each product}}
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(images/aldo-1-1.jpg);">
                                        <p class="tag"><span class="sale">Hot</span></p>
                                        <div class="cart">
                                            <p>
                                                <span class="addtocart"><a href="/cart"><i class="icon-shopping-cart"></i></a></span>
                                                <span><a href="/product-detail"><i class="icon-eye"></i></a></span>
                                                <span><a href="#"><i class="icon-heart3"></i></a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3>{{TenSP}}</h3>
                                        <p class="price"><span>{{formatNumber Gia}}</span> {{!-- <span class="sale">$300.00</span> --}} </p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="row">
                            {{!--
                            <div class="col-md-12">
                                <ul class="pagination">
                                    <li class="disabled"><a href="/shop">&laquo;</a></li>
                                    <li class="active"><a href="/shop">1</a></li>
                                    <li><a href="/shop">2</a></li>
                                    <li><a href="/shop">3</a></li>
                                    <li><a href="/shop">4</a></li>
                                    <li><a href="/shop">&raquo;</a></li>
                                </ul>
                            </div> --}}
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {{#if showPrevPage}}
                                    <li>
                                        <a href="?page={{prevPage}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                                    </li>
                                    {{/if}} {{#each pages }} {{#if isActive }}
                                    <li class="active">
                                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                                    </li>
                                    {{else}}
                                    <li>
                                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                                    </li>
                                    {{/if}} {{/each}} {{#if showNextPage }}
                                    <li>
                                        <a href="?page={{nextPage}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                                    </li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-pull-9">
                        <div class="sidebar">
                            <div class="side">
                                <h2>Danh mục</h2>
                                <div class="fancy-collapse-panel">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">

                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">SẢN PHẨM</a>
                                            </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"> {{>category}}
                                            </div>
                                        </div>
                                         <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h4 class="panel-title">
                                             <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">THƯƠNG HIỆU</a>
                                         </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                {{>producer}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="side">
                                <h2>THƯƠNG HIỆU</h2>
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="/shop">Naza</a></li>
                                        <li><a href="/shop">Neo Bag</a></li>
                                        <li><a href="/shop">Aldo</a></li>
                                        <li><a href="/shop">Nine West</a></li>
                                        <li><a href="/shop">Mr Ace Homme</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sign-in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"> Đăng nhập</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-9">
                            <input class="form-control" id="email" type="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-2">Password</label>
                        <div class="col-md-9">
                            <input class="form-control" id="password" type="password">
                            </br>
                            <span>Nếu bạn chưa có có tài khoản. <a href="/sign-up">Đăng ký</a></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="sign-in-btn" onclick="SignIn()"> Sign in </button>
                </div>
            </div>
        </div>
    </div>
    <div id="colorlib-subscribe">
        <div class="overlay"></div>
    </div>
    {{>footer}}
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>
    <script>
    // document.getElementById('search-btn').style.visibility='hidden';

    var input = document.getElementById("search");
    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            document.getElementById("search-btn").click();
        }
    });

    var input = document.getElementById("password");
    input.addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            document.getElementById("sign-in-btn").click();
        }
    });

    function SignIn() {
        window.location.href = "/member";
    }
    </script>
    {{> footerjs}}
</body>